<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="Description" content="Website Lumbung Padi tempat referensi wisata kuliner.">
    <link rel="icon" href="favicon.png">
    <link rel="manifest" href="manifest.json">
    <meta name="theme-color" content="#db0000"/>
    <link rel="apple-touch-icon" href="/favicon.png">
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
    <title>Lumbung Padi</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
</head>

<body>
    <a href="#content-utama" class="skip-link" aria-label="navigation-menu">Menuju ke konten</a>
    <header class="header">
        <div class="header_dalam">
            <h1 tabindex="0" class="headerTitle">
                Lumbung<span>Padi</span>
            </h1>
        </div>
        <button tabindex="0" id="menu" class="headerMenu" aria-label="navigation-menu">☰</button>
    </header>
    <nav id="drawerMenu" class="navigation">
        <ul class="navigationList">
            <li class="navigationItem"><a href="/">Home</a></li>
            <li class="navigationItem"><a href="#/restaurant-list">Restaurant List</a></li>
            
            <li class="navigationItem"><a href="#/favorite-restaurant">Favorite</a></li>
            <li class="navigationItem"><a href="https://www.instagram.com/wildan_aruman/" target="blank"> About Us</a>
            </li>
        </ul>
    </nav>
    <div class="jumbotron">
        <div tabindex="0" class="jumbotronInner">
            <h1 class="jumbotronTitle">Welcome To Lumbung Padi</h1>
            <p class="jumbotronTagline">The best place to start your culinary experience</p>
        </div>
    </div>
    <main>
   
    </main>
    <footer>

        <div class="copyright">
            <p tabindex="0">Copyright © 2021 - Lumbung Padi Jaya App</p>
        </div>
    </footer>
</body>

</html>